@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.45;
  color: #141414;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  background: #cc6699;
  letter-spacing: 0.02rem;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem 0.9rem;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background: #864566;
  color: #fff;
}
.btn:focus, .btn:active, .btn:focus:active {
  background: #006eb4;
  border-color: #006eb4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

header {
  color: #000;
  background: #cc6699;
  padding: 10rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
header h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}
header h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

section {
  background: #fff;
  color: #1c262b;
  padding: 3.5rem 0;
}
section .section--primary {
  background: #cc6699;
  color: #fff;
}
section .section--primary--alt {
  background: #27a4f4;
  color: #fff;
}
section .section--primary--light {
  background: rgba(0, 126, 206, 0.1);
}
section .section--grey {
  background: #1c262b;
  color: #fff;
}
section .section--grey--light {
  background: #29363e;
  color: #fff;
}
section h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 1rem;
}
section li {
  font-size: 1.2rem;
  font-weight: 300;
}
section p {
  font-size: 1.2rem;
  font-weight: 300;
}

.col,
.col-7,
.col-3,
.col-5 {
  margin: 0 1.5%;
  display: inline-block;
  vertical-align: top;
}

.col-7 {
  width: 64%;
}

.col-3 {
  width: 29%;
}

.col-5 {
  width: 30%;
}

.details {
  text-align: left;
}
.details h3 {
  font-size: 2rem;
  text-align: left;
}

.features {
  text-align: center;
  padding: 1rem;
}
.features:hover {
  background: rgba(255, 255, 255, 0.1);
}
.features i {
  font-size: 4rem;
  margin: 0 0 2rem 0;
}
.features p {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}
blockquote:before {
  display: inline-block;
  color: #cc6699;
  font-size: 2rem;
  content: "“";
}
blockquote p {
  margin: 0;
  display: inline;
  font-size: 1.5rem;
}
blockquote cite {
  font-size: 1rem;
  display: block;
  margin: 0.5rem 0 0 1.2rem;
  font-style: italic;
}
blockquote cite:before {
  content: "-";
}

footer {
  background: #2d2b2a;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.4);
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul ul li {
  display: inline-block;
}
footer ul ul li a {
  display: block;
  padding: 0.4rem 0.7rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
footer ul ul li a:hover {
  color: #fff;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.bg-image {
  background: #cc6699;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.bg-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #333 url("../imgs/webb.png");
  background-attachment: fixed;
  opacity: 0.8;
}

section > h1 {
  margin: 0 0 20px 0;
  font-family: Georgia;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

section > h2 {
  margin: 0 0 20px 0;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #666;
}

.alerta, .acceso, .error {
  padding: 15px;
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 5px;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  background: #67e24f;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.error, .acceso {
  background: #b23f24;
  font-size: 10px;
}

.acceso {
  background: #46b6ea;
}

.enviar, .cancelar {
  padding: 10px;
  color: #fff;
  background: blue;
  border-radius: 6px;
  display: inline-block;
}

.cancelar {
  background: #b23f24;
}
@media (max-width: 900px) {
  .cancelar {
    background: #46b6ea;
  }
}

.enviar {
  background: #46b6ea;
}
@media (max-width: 480px) {
  .enviar {
    background: #b23f24;
  }
}

.botones {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
